.container {
  margin-left: 0;
}
.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
span {
  flex: 0 0 50%;
  max-width: 45%;
  border: 1px solid;
  margin: 6px 0;
  cursor: pointer;
  text-align: center;

}
.col{
    width:100%;
}

.suggest{
    font-size: 20px;
    font-weight:bold;
    margin-left: 16px;
    margin-top: 33px;
}




/* desktop */
@media screen and (min-width: 968px) {
    span {
        max-width: 30%;
    }
    span{
        width:100%;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 967px) {
    span {
        max-width: 48%;
    }
}
/* Mobile */
@media screen and (max-width:767px){
    span {
        min-width:90%;
        max-width:100%;
    }
}
